<div class="container">
    <div class="card">
        <h1>Compose Mail</h1>

        <mat-form-field appearance="fill" class="field" appearance="outline">
            <mat-label>Input</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="fill" class="field" appearance="outline">
            <mat-label>Input</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="fill" class="field" appearance="outline">
            <mat-label>Textarea</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>

          <div class="text-center">
              <button type="submit" mat-raised-button color="primary">Register</button>
              <button type="reset" mat-raised-button color="accent">Reset</button>

          </div>
    </div>
</div>